front/interactify/logs
front/interactify/*.log
front/interactify/npm-debug.log*
front/interactify/yarn-debug.log*
front/interactify/yarn-error.log*
front/interactify/pnpm-debug.log*
front/interactify/lerna-debug.log*
front/interactify/node_modules
front/interactify/.DS_Store
front/interactify/dist
front/interactify/dist-ssr
front/interactify/coverage
front/interactify/*.local
front/interactify/cypress/videos/
front/interactify/cypress/screenshots/
front/interactify/*.tsbuildinfo
back/target
back/*.pem
back/*.crt
back/*.csr
back/*.key
back/Cargo.lock
